<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/portfolio.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
 <div id="header">
	<div class="Container">
		<a id="header-title" href="/RockyBalboa">Zac Hanson</a>
		<ul id="header-nav">
			<li>
				<a href="/SuperMan">About</a>
			</li>

			<li>
				<a href="/Thor">Contact</a>
			</li>
			<Li>
			    <a href="/LukeSkywalker">Projects</a>
			</Li>

		</ul>
	</div>
</div>







	<div class="Container">
		<div class="post">
			<div class="post-author">
				<span></span>
			</div>
			<p class="Post-date"></p>
			<h3 class="post-title"></h3>
			<div class="Post-content">
				<p> <i class="far fa-envelope"></i> :Zacthepk@gmail.com</p>
				<br>
				<p> <i class="fas fa-phone"></i> :720-936-1360</p>

			</div>
		</div>
		
	</div>
</div>







<div id="Footer">
	<div class="Container">
		<div class="Column">
			<h4>My Links</h4>
			<p>
				<a class="External" href="https://www.instagram.com/zac_hanson/?hl=en">Instagram</a>
				<br>
				<a class="External" href="https://www.facebook.com/zac.hanson.7">Facebook</a>
				<br>
				<a class="External" href="https://www.linkedin.com/in/zac-hanson-61646190/">Linkedin</a>
				<br>
				<a class="External" href="https://github.com/ZacAttackHanson">GitHub</a>
			</p>
		</div>
		
		<div class="Column">
			<h4>Short Bio</h4>
			<p> Hi There! I'm an aspiring web developer.</p>

		</div>
	</div>
</div>


 
 

</body>
</html>