<!DOCTYPE html>
<html>
<head>
	<title>Projects</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/portfolio.css">
</head>
<body>
 <div id="header">
	<div class="Container">
		<a id="header-title" href="/RockyBalboa">Zac Hanson</a>
		<ul id="header-nav">
			<li>
				<a href="/SuperMan">About</a>
			</li>

			<li>
				<a href="/Thor">Contact</a>
			</li>
			<Li>
			    <a href="/LukeSkywalker">Projects</a>
			</Li>

		</ul>
	</div>
</div>





<div id="Content">

	<div class="Container">
		<div class="post">
			<div class="post-author">
				<span></span>
			</div>
			<p class="Post-date"></p>
			<h3 class="post-title">To-Do List App</h3>
			<div class="Post-content">
				<div class="thumbnail">
			    <img src="https://lh3.googleusercontent.com/zNayouVy8CR_-SBcrPsmwPxNkJu31AqC374WQeme8d3gqaAkD_cdkvMjLQyudUMTAgylq0wjQbAqiz3a13o4XREUjbzlE7tia8QAOYsEnwE4g3oPsFnEQ73e6cZWBh4CPVk7m6U51s0kW5yxbBdStxwr9yTv0JHtonQ5Wn4_jlVd7IjV9FpTwRwyx3sy7DRo592cG8NbIn5pvJTlraRCp9a2JaC9AsJ4kxwMBOFthQKH_BjCqfFLgbDL-ozCjWJBSP0JfZp8fZuaIXteP6yDpZckLiAeourt-g7_QCKR0MfLZsSaLSeNkay-_nWJ0_TWpBUl4ITZRVkP4Fq2wUorXuXSVrwkVN5tPVSHF1IGCJ9sdrFUtggxhwqyLvmgNvGB40Tz6T3AbW9tcFdA1YHOeGpwA6FMq_FZd6hHStxXiwH6melEDOVxHPkRCNjY-ZsJ3P9cgbojby5zJiCXpgCU3bCw5OdNbxrq3d4wSbfayaP0WzqCdxg7qP_9tA09VWO3N91uEzlcF_bsATxlTJ-N-Od3CHHP6W7MUZ2ZqdkoLSrqp6FOUKdwPo70WsgVH0kAD6cpWXsOdagkszanfAQLoZWHwGbfMC-v89hLwFd2tBBVmHAAn_3g2NMykw7uEe0=w1280-h610-no">
			    </div>
				<p> an app that for keeping track of the things you gotta do.</p>
				<a href="github url goes here">See the code on Github!</a>

			</div>
		</div>
		
	</div>



<div id="Content">

	<div class="Container">
		<div class="post">
			<div class="post-author">
				<span></span>
			</div>
			<p class="Post-date"></p>
			<h3 class="post-title">Score Keeper</h3>
			<div class="Post-content">
				<div class="thumbnail">
			    <img src="https://lh3.googleusercontent.com/M9Zieuf1yHT0ecXluRTopO8SfBwOuy0vUZHNmAOvfTGv_N1fQLyUz-mKuAZchIP7kXS2SkLHShEzT9g1LNK89VFSbNOGzOkyQPF1Gr5YLeTUuwdr7yPvdZJlurmullGIAGEOHpHQyWSoIoOEDx0dK-gGVEuha9dcHUyjeBWTedEpBMvb1RCsAhspXRsZtK42qcTCxhLDrG7HaqDErQVc_0BVds9Vh8lFfn4-1qnEdmybls36Ss3WywGu_NOu2ozXNCEuj7w7tbHZ0H_ZmctoVMtHx-SE7BDSedhUU7jlLsWNQFT5d4GFdJaCoOklFusMBsZAuKd1laNtkNUsJAZcG5ujX9e2-gugsUT3hAmEdoHRrnV7hFHKUnYeADwtL8H98bnLt7WYMetzR_-OjxGeimTO2gZPXs9danK02VAWAEyQIPtjN9-7FRAQFRh1jZ6bYg6IbA_uXUzCOb2bT5VILClrnzoslzeTm9sK_MsGEhym_XunQOXlzUqxRryFxxyLm0QI8jJbiTf9g8ZBztcNqidkbOROuYmBiOm3837E8UgScrCGgjrgc3NLu37EL_wtwzYr3cTInCrPYrRjK67cWrTBz-S3pmIj5qvYMfHUU49M4O9pI5Dk3RFqFh81dvg=w1222-h608-no">
			    </div>
				<p> a funtional little tool, that can keep track of who is winning!</p>
			</div>
		</div>
	</div>

<div id="Content">
	<div class="Container">
		<div class="post">
			<div class="post-author">
				<span></span>
			</div>
			<p class="Post-date"></p>
			<h3 class="post-title">A Photo Portfolio Site</h3>
			<div class="Post-content">
				<div class="thumbnail">
			    <img src="https://lh3.googleusercontent.com/273BhhzjANQzQBb03vfRKlj1FA2rX6T-78AVBf3c5oc_D19dD2cvehBmJWIsDaLSExzbJOwl2Wu1_i4iK7Ybc34Rtl5OURyhfLYmAKwpoe14qfQg7ANuQYVHOHVHZaekqXZJvyVInqbgJpHzVmLhHD_N1OYGfYk6WCJpliJMdAKHH0XHx7nDJXG-weuZF2wTuscmbNnEXA6de1c6aFK4W_pApyhj1RaznbVqyfhU228GmBjeV_DVV2TNC7M8kZIDKB2Ot0oXRGvlFS7u9brrqttnnKluMnd9JvuqPE-xt1uF5MF7ONnc8Ckc4dvqxEC8IDm4BY3cGycy739UQ4gpBPvrrF4uEW44jElDV-fZCZLNmyLk-SKhLARoso2SrXoXSOM1yGPquUAj6RbP8V0jNYwcQmW5ltfLguEP7w0aZd9II5srAW84q0F8VCLl_j8KZQszqB-Kj_e2_rH4xE5iosv_z0NTEU6XWyAJYB2ZljaZjcgqoIUohVlpFYtNdcDAYOxASNOWAUF8Wc07MB4VD930gUQ-p_UoFXAgffECWcwP-h37X2vtpuyOpQ62e_LPAiCAPeRetky8W4uSgD247w8qok9H3ZzQg0__ZvEiAajSpDDG6oHIaBNHZC9SFW0=w1264-h583-no">
			    </div>
			    <div class="thumbnail">
			    <img src="https://lh3.googleusercontent.com/TkvNBSzrJMwcDlXKzOimObnNZF25FFN6yJiUrjDozu_1YT0AydsxR3jx1xOwKTvBb2x-bQyWfTZGPLB6JAf4sJf7KytI_q6ewI6q5pMA0xAb1AXQ6hJp1wgqoyOLpzoSxD5lzZETPX6znV11hm9Ax5ehCGKlSzDTQ5I6XVPVaXbKEHYL8F8g5ig1ZDP2ozlNO1tanJ-nikTVA_fByaFPyhdrTQCQx9RrdN5Lx_ab2eVQor8FaVDNGymdVT1Hqp_iheuAlBBgDGDYhfgm2DFWF0x35YGKTI7r4GROFQUZjvdBqV_TPK51_x5Z2WN1mId19yp1L7ZbI5fLmTva8X0VY-0SZ42oFmHR8P6Y8e52ChW_mBnAw_Ko4vN9HGjgOXJW_Bz_XTF8PR6nCCtafK24epdhtl5otxw3IX_toYGqD3H21K2t6eN_bdrzD6tU4dYtAnO_hyxNhdBSq4e8cgWod88kcrDB1PPn4fAlYmW6ijdr0DLxKlRESJyKS8nrmfZ-hwFKNBAw4Kk2U1cwAWILWJ5fktfVsaQ8ZZtZrZ3Ot3ylpJnzQXGchtt0bfTrA00kzehZd9Rron55CZJRQD9L8aLaIlaG6_lr4CTQ8lTbO7fTYeCT1OgpQN7cMtVG2GQ=w1279-h618-no">
			    </div>
				<p> a site for a photographer who loves ukes, tigers, and pineapples.</p>

			</div>
		</div>
		
	</div>
	
	
<div id="Content">

	<div class="Container">
		<div class="post">
			<div class="post-author">
				<span></span>
			</div>
			<p class="Post-date"></p>
			<h3 class="post-title">Color Game </h3>
			<div class="Post-content">
				<div class="thumbnail">
			    <img src="https://lh3.googleusercontent.com/p90TObF60L16Tk1-9aIsuW2K_7huEpnToTM2RoCcOl6q3cFCZLm0aj5bAfBk7ixJevUXXaAffQFxbPc4H0DoSV_7tY42JKzEhHmSFkUJ9Qv0l7i7OQ4bspOOPAbG1TQiSnqET0rkk-AsGO11u5xA4bEF8lA3uVnXqaqpucNMqaBNBNS4ov4tNnvK6jagzriEE3akigyPQAgkmwX9_3qzbjnBiCCgRH-pmj_8OGKKe-o7dT3qgNWpaxKPR2XScOvH1IlvryjDDeDtW0x_s1OuiW9R7ZjCde5g93gDY6cOLeV26T_YSO31sMOR_o5cds1F26CqZOZ3L25tUHj18xYBbnue9I5tIm7s1Q-g2yLOS1toH5hGPXSQvDTJFqDu-8Uz1WoEDFNAdDWZEF2OTvhdy51qDIqMcSbK_bJx4KXq7RDxJh0L49GC7-pnWAtKJ2dt1t97ctb1xiEZ2KoZNxWdI_NwzcTIdaVB52r_qn8X_AJr7-8P_CplO4hYiVer62VvGL4FVOgpKrYPVdJzH_OW_xnoy78BfgDhmq-jaz1_dEE0R2YLUF5vBTmNWbamN3b3yV6RyxX_VclMRpECwBYSdUqBXETruWg4PqRj7r24L8yR7FDPbuqjW61V7Gf0eok=w1280-h613-no">
			    </div>
				<p> a fun little color guessing game </p>

			</div>
		</div>
		
	</div>	

<div id="Content">

	<div class="Container">
		<div class="post">
			<div class="post-author">
				<span></span>
			</div>
			<p class="Post-date"></p>
			<h3 class="post-title">Bear Finder</h3>
			<div class="Post-content">
				<div class="thumbnail">
			    <img src="https://lh3.googleusercontent.com/Sq4WxaHwn_JnqPJ0uH30KDoAYFQH5IbfHrFoBHvf0yiC0hX58N29334_EaiRbR3C-U6zNJIHJHQWePxHxt1RCDqLwEl5CFlxCF5q11eI5K0oJrCCuoyHbdh11HfpMvzGlWZ-iDytogigdLlASgetL0oiDKAIzR1ySWVWlG6MJvrQ6cGAm4kEWmmGw_MaFQsLoszLgpnlDlYejM1YrOT2uF7QSGLLGsOnWoUbkWlbctIpi4jXSKVKPDE09Am10nVDfrCrDGWmbSkll1L2Zvq8CSJFOIYbnih93jjn67_PHlwYwT2H_p5OYOC-t7Dw6T3re8fCjsHvF9-JOueEkxI2F5acTS8atwpHokDdq5y_wy5plSlCvgCsKVo5pzgXOXWlYEFdzYuqgdn3QXdYC6oNBRrQiktpbkUKP9RAIvmE5EtWzm93EVdQwgRnZ2_19OBYTuXkl-yoEiUbv-b-8GSj0pJQQUhYNk74k20a1B2dmEktteKFGAh36TskM3y3Hf8kF2A-7jXbt1a_YivG28BxCQkAEuA2UGpX5cN1AC7Hk9VH68kApNTLHsRi658Q3PCeghsmDOTr_PQc8LFXR1TzsVZYmltAFRDU47Gbwzow9H2SSISO5Ix3N3AcbrPvctU=w1280-h613-no">
				</div>
				<p> a landing page I got to build for a fake dating service. </p>

			</div>
		</div>
		
	</div>	

	<div id="Content">

	<div class="Container">
		<div class="post">
			<div class="post-author">
				<span></span>
			</div>
			<p class="Post-date"></p>
			<h3 class="post-title">My Own little blog site I got to create.</h3>
			<div class="Post-content">
				<div class="thumbnail">
			    <img src="https://lh3.googleusercontent.com/JSThOzZB5Vm59SplWNXSgRdYcdEIoGLy-EXikoerGEz3ck8GaOSrS77jHsUS6ziz2Fwc36jYMbmf2jIwi9m1fQWRVNnp8mLqv5PV3MuWsFFMMYzQls3tyeDbLemVBIFAyz6VMeeT6dKmK04zcKP-rIKn-DMVeTMzRprP-HT9oF-a5USLVBGrLRhoX2t9004Zk0oh6Tum007hIr5MGd-w3RKDT2o-kMAqC_m9Nanac8topXH5U6Sn4G9gTwutScrZ-nabesNopgBHxnWm42VgK74AflAyWGL3jwytw44i2comb2ioqRr1JYlgtfcLUdXY9TIi3gAHUa8zQ7Zvm6fVOujE-mjQDAQS9YJ9oIM4jTtkl8KrjxeSRTTA_DgDYGpzD7rN0s8Ei1D411e4mJxAbFtZtq6s2xi4ZpLgf0qHC0d8xossSJILGDb1cRlxz4SnEloCUBF-1TVMR9Qnn266ueYs0XVz7Em5u_4EF9E4b3ttm0Auo4yiSYR_D7UxRpH8Y-c71xsY5nwTebCQnh6gPxrnPRT5pYG2v4awHXdoHvBkOfj6IAJkZ1ViZqrcsG5JZWenyHXBvqVgddnpsFaxfIhJhCUjBYfWJXaHLS3DpfWlygFDf9UP3mhc-dolxLE=w1258-h658-no">
			    </div>
				<p> my own personal little blog site that I got to create</p>

			</div>
		</div>
	</div>	
	
	
	
	<div id="Content">

	<div class="Container">
		<div class="post">
			<div class="post-author">
				<span></span>
			</div>
			<p class="Post-date"></p>
			<h3 class="post-title">Another blog site</h3>
			<div class="Post-content">
				<div class="thumbnail">
			    <img src="https://lh3.googleusercontent.com/uZtQvXoYkUF5ruk2v1ZIVwtCxUD47lppjfaNtZO29d6BDSBIee0db4gK-_2M-Lh1yVPMRpXjJ55qebZp4ubVppp3LMBnDRz-HDizjVfDUj15l24pW-mv-A9-W6I8UQ6cyX4eKTt20Y3RNUu8X4ydKcOWQq0sxx83Yh3XrJIzqjZ8tLRNYyJ0y4vM4pHCJuXQyMnetsw3JmDNTNpTClp_D9eoro3aeCupFAs1nU2eLldl64-AVhy3Gscsu2xh4x0j6g-U9oG4Veuisk74T83moYY3m0P6DmRibZUUSGvGuIwgYMxGgYyM16i2V5aK3qUhSkbHtx4ikTsP1JdWU8IiEg1-D5aVNJT1MIT6G6HYdCjo5FIGv0_BdLm8Nneq4DHhc5FyW6MRVylwFSsU7VUahSd1N1ZCK-ATAF_edEKDze3gRmsf67-A4nlu5qYFeT3orXQaHF5HzImzTVxuDKsxFjm8kRFsYuvEAumGqPVPDZKJVD3XfUpcnsH8k6hSZOiqTKadnMa5vuL0yXX-aPovQ1X0Aj9Ii4O3d5GVRMJQH33scULQQ1piSDITj0urtF6K4AXjD96Ezb2OQfbvDHwRTf8cMUln4v7dAyMcDejFYO7yj7rV_Me1nQHbBqz2ABA=w1278-h609-no">
			    </div>
			    	<div class="thumbnail">
			    <img src="https://lh3.googleusercontent.com/EdiSWt1XfvwtCZxO7FzL5AgwvOrKMSmD-hluKUXrGGbv3OcelAeT1Kz_nRhDMhUdG2t5cT7YHwWMv9-ikAHD64Lf66TyqfEhhwwoHE4MqJNAVksaDcNlH3Gg0inVnVvHLdEMm76plZ778sVQ3Jn_0jk736Qap4k9gupHb0v5L7O472QHwafIixYelVgOCEibJu6EIpEr-K-mB23qxm0YuD-5akj2kiKqtzN_akK-nnfKyg8Y8YlAql0kJcHrRGtF_07pmAkBukXq_c5QA7ft50eLZlFNZ-dD3GyxQQTZPS_t5wtzOUy_u8cjmkSbNL2Dz2D46KenTYP_fIEIm19GRWh6pZTR6w4NbuCwpdsqkjnGZ_KMMtMJG_BzBw0-1JNU--vj-sL5cigmQ7702aVOmLX4IDOcW8KN72hYxTQCaPhQyREvrrqTPPGRMbE4LzjeBLpqTnPk475CdPAjCz03XnBiZfG8FdMnc9gd0v-3ziSNYiS3X7-ZJYI49bDFDbjrQ7U0wtQB4DO5AFUX7qTnSmWUtst2mxXJ-Q-3aSUUlSN8qw2k58SaHiDPHPKmA4xD4bvsYbY1Nm9ps2abYPDEEgG-yMGl4Po9O4klthPVgXXiBYkr-Sm9Ezgk1a9uiVU=w1280-h608-no">
			    </div>
				<p> Another blog site that can take user input and makes it easy to create blogs</p>

			</div>
		</div>
	</div>	


<div id="Content">

	<div class="Container">
		<div class="post">
			<div class="post-author">
				<span></span>
			</div>
			<p class="Post-date"></p>
			<h3 class="post-title">Portfolio Site</h3>
			<div class="Post-content">
				<div class="thumbnail">
			    <img src="https://lh3.googleusercontent.com/39ItRU8NLQQriviXdzM7u0qXDPV6zf_-rn4jvx54N7Rz52tJZw7krH4-qrWVy2elGSFVB3wIqyisArqriy9gDezEYLSfYAHvlGTYvrUSlXRbyJGJk6SOEnVkrIQEZR8KCcPTT_PETsOLH_mk8MUFo7KVWngqVG3UewTahfwhxeGphZYvrTgqdupdyMb1Hg9xkPMp0AAcFRHQXm4loX8tDmMTGfHwTMX6INWiax2qn3vqaIXw6Q2k4BzIgCaOEpZsJ-_-lNyqloF5pPYlhTOb8o2IXBtCC-P-BjG9BBl4xRj8-Gyma0UWqMWvIsCVP58NvAMcgXJ9MtiDE5oSedNCM7rBTwYWw3JsBPhSIMSDnXrH4JDdYEvFRpGKmRruVMXeDN9xQK7jsRkyFv6BS2_D_Je6XIncic_SISfP5VPzMnBvEO4u9A13fjPZUix_VIPfexVzr9J9kmdATzBXPckI2fId1UHMZETUMoFwejBdhyeEkws83yGGpzh5CZab_X997vCu3tj3IyW_ecbDg3xBLCt6u6pj0d2k0IVLx4_cS5tIT_ULPBIYXQ1Sn4-PMCHtQ4IdqPHdL6nSSkDxSQmEiop271wQZWaPALHhC49VSni92Y1FJZ2OXKpNyt9tYKk=w1036-h492-no">
			    </div>
				<p>The very website you are currently on!!!  </p>
				<br>
				<p>isnt that neat?</p>
					<a href="https://github.com/ZacAttackHanson/">You can view some of my code on Github too!</a>
			</div>
		</div>
		
	</div>
	<div class="container">
		<div class="Post-content">

	</div>
	</div>






<div id="Footer">
	<div class="Container">
		<div class="Column">
			<h4>My Links</h4>
			<p>
				<a class="External" href="https://www.instagram.com/zac_hanson/?hl=en">Instagram</a>
				<br>
				<a class="External" href="https://www.facebook.com/zac.hanson.7">Facebook</a>
				<br>
				<a class="External" href="https://www.linkedin.com/in/zac-hanson-61646190/">Linkedin</a>
				<br>
				<a class="External" href="https://github.com/ZacAttackHanson">GitHub</a>
			</p>
		</div>
		
		<div class="Column">
			<h4>Short Bio</h4>
			<p> Hi There! I'm an aspiring web developer.</p>

		</div>
	</div>
</div>



</body>
</html>